$width-content: 936px;
$background-color1: #2D303A;
$background-color2: #F06C64;
$color-nav-text: #FFFFFF;
$color-border: #323746;
$color-arrow: #E94348;
$color-title: #666D89;
$color-text: #767E9E;
$background-phone:#F2F2F2;
$border-phone: #C7C7C7;

 