@mixin font ($height, $size: 18px, $weight: 300) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin table-768px {
    @media (max-width: 768px) {
        @content 
    }
}

@mixin mobile-375px {
    @media (max-width: 375px) {
        @content 
    }
}