.footer {
    background: $background-color1;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    @include font (18px, 13px, 900);
    color: $color-title;
}