.header_colored {
    background: $background-color1;
    border-bottom: $color-border 6px solid;
}

.wrapper {
    @extend %wrapper;
    max-width: 940px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__burger {
    display: none;
}

.logo {
    @include font (25px, 25px, 700);
    color: $color-nav-text;
    &::after {
        content: "*";
        color: $background-color2;
    }
}

.nav {
    display: flex;
    &__item {
        list-style-type: none;
        padding-left: 15px;
    }
    &__link {
        @include font (14px, 12px, 700);
        color: $color-nav-text;
        text-decoration: none;
        &:hover {
            color: $background-color2;
            transition: .4s;
        }
    }
    
}

@include table-768px  {
    .header__navigation {
        margin: 0 40px;
    }

    .vertical-img {
        width: 162px;
        height: 344px;
    }
}

@include mobile-375px  {
    .nav {
        display: none;
    }

    .navigation__burger {
        display: block;
    }

    .logo {
        @include font (24px, 19.69px, 700);
    }
}